.big-button {
    background: $purple;
    border: none;
    border-bottom: .8rem solid darken($purple, 10%);
    color: $off-black;
    font-weight: 500;
    font-size: $l-size;
    margin-bottom: $s-size;
    padding:2.8rem;
    width:100%;
    font-family: 'Lemon', cursive;
    border-radius: 3rem;

}
.big-button:disabled {
    opacity: .5;
}
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: $blue;
    padding: $s-size;
    font-weight: 500;
    font-family: 'Cuprum', sans-serif;
    font-size: $m-size;
    border-radius: 1rem;

}

.button--link {
    background: none;
    border: none;
    color: $purple;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $l-size;
    }
    }