//Colors

$off-black: #23273d;
$dark-blue: #283655;
$blue: lighten($dark-blue, 10%);
$blue-light: lighten($dark-blue, 30%);
$purple-light:#4d648d;
$purple: #d0e1f9;
$purps:#d0e1f9;


//Spacing


//Font Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;